<div class="container">
    <div class="row">
        <!-- Button trigger modal -->


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>QUTUB USERS</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <form #usuarioForm="ngForm" (ngSubmit)="addUsuario(usuarioForm)" class="col-md-12">

                            <div class="form-group">
                                <input type="hidden" name="_id" #_id="ngModel"
                                    [(ngModel)]="usuarioService.selectedUsuario._id" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">your Name</label>
                                <input type="text" name="name" #name="ngModel"
                                    [(ngModel)]="usuarioService.selectedUsuario.name" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">your lastname</label>
                                <input type="text" name="lastname" #lastname="ngModel"
                                    [(ngModel)]="usuarioService.selectedUsuario.lastname" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Your phone number</label>
                                <input type="text" name="phone" #phone="ngModel"
                                    [(ngModel)]="usuarioService.selectedUsuario.phone" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Email address</label>
                                <input type="email" name="email" #email="ngModel"
                                    [(ngModel)]="usuarioService.selectedUsuario.email" placeholder="name@example.com"
                                    class="form-control">
                            </div>

                            <button type="submit" class="btn btn-secondary ">Save</button>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary mr-2" (click)="resetForm(usuarioForm)">Clean</button>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <table class="table table-dark">
                <thead>
                    <th>Name</th>
                    <th>Lastname</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Accions</th>
                    <th> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            +
                        </button></th>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarioService.usuarios">
                        <td>{{usuario.name}}</td>
                        <td>{{usuario.lastname}}</td>
                        <td>{{usuario.phone}}</td>
                        <td>{{usuario.email}}</td>
                        <td><a (click)="editUsuario(usuario)" data-toggle="modal" data-target="#exampleModal"> <i
                                    class="material-icons">edit</i></a></td>
                        <td><a (click)="deleteUsuario(usuario._id)"> <i class="material-icons">delete</i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>